body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
  color: var(--text-main);
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.relative-container {
  flex: 1;
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 10px;
}